.box{
    width: 400px;
    height: 280px;
    background-color: brown;
    border: 10px solid rgba(3, 0, 0, 0.89);
    
}
.box2{
    background-color: brown;
    width: 400px;
    height: 280px;
    border: 5px solid red;
    margin-top: 20px;
    outline: 10px solid rgba(3, 0, 0, 0.89);
    box-shadow: inset 10px 10px 0 0 rgba(3, 0, 0, 0.89), inset -10px -10px 0 0 rgba(3, 0, 0, 0.89);

}
.parent{
    font-size: 0;
}
span1{
    display: inline-block;
    background-color: brown;
    width: 400px;
    height: 280px;
    border: 10px dashed rgba(3, 0, 0, 0.89);
    margin-top: 20px;
}
span2{
    display: inline-block;
    background-color: brown;
    width: 500px;
    height: 280px;
    margin-left: 20px;
}
p{
    width: 400px;
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 24px;
    border-top: 10px solid blue;
    border-right: 10px solid grey;
    border-left: 10px solid green;
    border-bottom: 10px solid yellow;
    outline: 20px solid purple;
    margin-top: 32px;

}
